body {
    margin: 0;
    padding: 1em;
    overflow-x: hidden;
}

.form-container {
    width: 100%;
    max-width: 1080px;
    margin: auto;
}

    .form-task-label {
        padding: 1em;
        text-align: center;
    }

    #form-text-input {
        padding: 0.5em;
        margin-top: 1em;
        margin-left: 1em;
        font-weight: bold;
    }

    .form-add-task {
        transform: scale(1.5);
        margin-left: 3em;
    }

    .form-task-list {
        display: flex;
        flex-wrap: wrap;
        width: 90%;
        margin: 2em auto;
        min-height: 2em;
        padding: 0 1em;
        justify-content: center;

    }

    .form-status-title {
        font-weight: bold;
    }


    .task {
        display: flex;
        padding: 0.5em 1em;
        align-items: center;
        width: 90%;
        max-width: 540px;
        margin: 1em auto;
        background: black;

    }

        .task-name {
            width: 80%;
            padding: 0 1em;
            color: white;
        }



        .checkbox {
            transform: scale(2);
            color:gray;
            background: gray;
        }


        /* input[type="checkbox"]:checked + label {
            color: gray;
        } */

        .remove-task-button {
            border: none;
        }